.content {
  color: rgba(30, 30, 30, 1);
}

.content__title {
  margin: 120px auto 0;
  font-size: 36px;
  text-align: center;
}

.content__wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 120px 150px;
}

@media screen and (min-width: 320px) and (max-width: 582px) {
  .content__title {
    margin-top: 34px;
    font-size: 30px;
  }

  .content__wrapper {
    flex-direction: column;
    padding: 40px 10px 85px;
  }
}

@media screen and (min-width: 583px) and (max-width: 881px) {
  .content__title {
    margin-top: 60px;
  }
  .content__wrapper {
    flex-direction: column;
    padding: 40px 20px 100px;
  }
}

@media screen and (min-width: 882px) and (max-width: 1440px) {
  .content__title {
    margin-top: 60px;
  }

  .content__wrapper {
    padding: 40px 20px 100px;
  }
}
