.content {
  color: rgba(30, 30, 30, 1);
}

.content__title {
  margin: 120px auto 0;
  font-size: 36px;
  text-align: center;
}

.content__wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 120px 150px;
}
