.content {
  color: rgba(30, 30, 30, 1);
  background-color: rgba(252, 245, 237, 1);
}

.content__wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 120px 100px 150px;
}

.content__map-and-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
}
.content__title {
  margin: 0;
  font-size: 30px;
  padding: 0 0 20px 30px;
}

.content__map {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

@media screen and (min-width: 320px) and (max-width: 582px) {
  .content__title {
    margin-top: 34px;
    font-size: 30px;
  }

  .content__wrapper {
    flex-direction: column;
    padding: 40px 10px 85px;
  }
}

@media screen and (min-width: 583px) and (max-width: 881px) {
  .content__title {
    margin-top: 60px;
  }
  .content__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 100px;
  }

  .content__map-and-title {
    width: 90vw;
  }
}

@media screen and (min-width: 882px) and (max-width: 1440px) {
  .content__title {
    margin-top: 60px;
  }

  .content__wrapper {
    padding: 40px 20px 100px;
  }
}
