.footer {
  background-color: rgba(30, 30, 30, 1);
  font-size: 24px;
}

.footer__text-container {
  color: rgba(252, 245, 237, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 75px 60px;
}

.footer__text {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 582px) {
  .footer {
    font-size: 16px;
  }

  .footer__text-container {
    flex-direction: column;
    padding: 40px 40px;
    align-items: center;
  }

  .footer__text {
    margin-bottom: 10px;
  }
  .footer__text:last-of-type {
    margin-bottom: 0;
  }
}
