.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 191, 150);
  height: 100vh;
  min-height: 900px;
  min-width: 100vw;
  position: relative;
  overflow-x: hidden;
  color: rgba(30, 30, 30, 1);
}

.header__description {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-left: 120px;
  max-width: 520px;
  text-align: center;
}

.header__description-title {
  color: rgba(252, 245, 237, 1);
  font-family: "AmaticSC", sans-serif;
  font-weight: 700;
  font-size: 100px;
  margin: 0;
  margin-bottom: 64px;
}

.header__description-text {
  font-size: 24px;
  margin: 0;
  line-height: 1.6;
}

.header__image {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: -100px;
}

.header__credit {
  margin: 0;
  position: absolute;
  right: 100px;
  bottom: 85px;
  font-size: 20px;
}

.header__credit-link {
  color: rgba(30, 30, 30, 1);
}

.header__credit-link:hover {
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 582px) {
  .header {
    height: 835px;
  }

  .header__description {
    margin-top: 62px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .header__description-title {
    font-size: 50px;
    width: 100px;
    margin-bottom: 290px;
  }

  .header__description-text {
    font-size: 16px;
    width: 275px;
    font-weight: 550;
  }

  .header__image {
    width: 253px;
    height: 245px;
    right: calc(10%);
    margin: auto;
    margin-top: 300px;
  }

  .header__credit {
    font-size: 12px;
    right: calc(12%);
    bottom: 330px;
  }
}
