.location {
  display: flex;
  flex-direction: column;
  max-width: 520px;
}

.location__title {
  font-size: 68px;
  margin: 0 0 40px;
  color: rgb(206, 90, 103);
  font-family: "AmaticSC", sans-serif;
  font-weight: 700;
  text-align: center;
}

.location__info {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  text-align: center;
}

.location__info-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 18px;
}

.location__info-content {
  margin: 0 0 30px;
  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 582px) {
  .location {
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
  }

  .location__title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .location__info-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .location__info-content {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 583px) and (max-width: 881px) {
  .location {
    margin: auto;
    margin-top: 30px;
  }
}
