.location {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border-radius: 20px;
  margin-left: 50px;
  box-shadow: 10px 10px 0px rgb(79, 79, 79);
  background-color: white;
}

.location__title {
  font-size: 68px;
  margin: 0;
  padding: 20px 20px 0;
  color: rgb(206, 90, 103);
  font-family: "AmaticSC", sans-serif;
  font-weight: 700;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}

.location__info {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 30px;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.location__info-title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 12px;
}

.location__info-content {
  margin: 0 0 10px;
  font-size: 20px;
  color: rgba(30, 30, 30, 1);
}
